@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MBold";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MBlack";
  src: url("../../public/fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "MRegular";
  src: url("../../public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "MLight";
  src: url("../../public/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "MMedium";
  src: url("../../public/fonts/Montserrat-Medium.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



